/Hotel/nbproject/private/
/Hotel/build/
/Hotel/dist/
PremiaHotels/build/generated/classes/org/apache/jsp/index_jsp.class
PremiaHotels/build/generated/classes/org/apache/jsp/WEB_002dINF/index_jsp.class
PremiaHotels/build/generated/src/org/apache/jsp/index_jsp.class.smap
*.class
*.java
*.smap
*.jsp~
*.MF
*.jsp
*.jspf
*.xml
PremiaHotels/build/web/WEB-INF/classes/.netbeans_automatic_build
PremiaHotels/build/web/css/testCSS.css
*.properties
PremiaHotels/build/web/WEB-INF/classes/.netbeans_update_resources
